<div id="posts">
  <% if @items.count > 0 %>
    <%= render partial: 'item_view_3', collection: @items %>
  <% else %>
    <h3>Your collection is still empty</h3>
  <% end %>
</div>

<%= will_paginate @items %>